# PANDAS STUDY BY CHETAN SIR

In [1]:
# by akash

In [1]:
import pandas as pd

In [23]:
cars_per_cap = [720,850,85,900,75]
country =['INDIA','Indonesia', 'Bangladesh', 'Japan', 'SRILANKA']
Drives_right = [True, False,True, False,True]

In [24]:
Data = {"cars_per_cap": cars_per_cap, "country": country, "Drives_right": Drives_right}

In [25]:
Data

{'cars_per_cap': [720, 850, 85, 900, 75],
 'country': ['INDIA', 'Indonesia', 'Bangladesh', 'Japan', 'SRILANKA'],
 'Drives_right': [True, False, True, False, True]}

In [26]:
cars = pd.DataFrame(Data)

In [27]:
cars

   cars_per_cap     country  Drives_right
0           720       INDIA          True
1           850   Indonesia         False
2            85  Bangladesh          True
3           900       Japan         False
4            75    SRILANKA          True